/*視窗背景色設定*/
body {
    background: #c2dfeb url(img/back.png) repeat-y;
  }

  /*連結顏色設定*/
  a {
    color: #201178;
  }

/*頁首,導覽,頁尾的共通設定*/
header,nav,footer{
  text-align: center;
}

/*導覽樣式設定*/
.menu li {
  list-style-type: none;
  display: inline-block;
  width: 140px;
  margin: 0 5px;  /*距離*/
}
.menu a {
  display: block;
  padding: 10px;  /*邊距*/
  background: #c2dfeb;
  border-radius: 8px; 
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.menu a:hover {
  background: #90ddbb;
}

/*頁面標題設定*/
h1 {
  font-family: 'Limelight', cursive;
}

  h2 {
    font-family: 'Limelight', cursive;
      padding: 10px;   /*邊距*/
      margin-bottom: 30px;
      border: 1px dotted #7eb4cb;   /*邊框*/
      border-left: 10px solid #7eb4cb;
      color: #000000;
      border-radius: 5px 0 0 5px;
      text-align: center;
   }




  /*內容區塊邊框設定*/
  #contents {
  width: 798px;
  margin: 40px auto;
  padding: 40px 80px;
  border: 1px solid #7eb4cb;
  background-color: #fff;
}

  /*連結圖示設定*/
  a[target="_blank"]::after {
    content: url(img/ico_blank.png);
    margin-left: 5px;
    vertical-align: middle;
  }
/*連結圖示設定*/
  a[href^="mailto:"]::after {
    content: url(img/ico_mail.png);
    margin-left: 5px;
    vertical-align: middle;
  }

/*區塊間分隔*/
  #contents > section + section {
    margin-top: 80px;
  }



/*圓形圖片設定*/
  .img-round {
    border-radius: 15%;
  }

  .imgL {
    float: left;
    margin-right: 20px;
  }
  .clear {
    clear: both;
  }
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  
