
body {
    background: #dcf4fe  repeat-x;
  }
  
  a {
    color: #201178;
  }

  header,nav,footer {
    text-align: center;
  }
  
  h1 {
    font-family: 'Limelight', cursive;
  }

  h2 {
    font-family: 'Limelight', cursive;
  }

  .img-round {
    border-radius: 15%;
  }

  body {
    background:#fbf9cc url(img/背景6.png) repeat-x;
  }


  a[target="_blank"]::after {
    content: url(img/ico_blank.png);
    margin-left: 5px;
    vertical-align: middle;
  }

  a[href^="mailto:"]::after {
    content: url(img/ico_mail.png);
    margin-left: 5px;
    vertical-align: middle;
  }

  
  
  