div {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

body {
    text-align: center;
    background-repeat: repeat;
}

p {
    text-align: left;
    font-family: 微軟正黑體,Arial;
    font-size: 100%;
    line-height: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
}

#img-bg {
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
    left: 0;
}

#a1 {
    position: absolute;
    width: 8%;
    height: 70%;
    z-index: 2;
    left: 8%;
}
#a2 {
    position: absolute;
    width: 5%;
    height: 70%;
    z-index: 2;
    left: 26%;
}
#a3 {
    position: absolute;
    width: 5%;
    height: 70%;
    z-index: 2;
    left: 31%;
}
#a4 {
    position: absolute;
    width: 5%;
    height: 70%;
    z-index: 2;
    left: 37%;
}
#a5 {
    position: absolute;
    width: 5%;
    height: 70%;
    z-index: 2;
    left: 43%;
}
#a6 {
    position: absolute;
    width: 4%;
    height: 70%;
    z-index: 2;
    left: 49%;
}
#a7 {
    position: absolute;
    width: 5%;
    height: 70%;
    z-index: 2;
    left: 55%;
}
#a8 {
    position: absolute;
    width: 5%;
    height: 70%;
    z-index: 2;
    left: 62%;
}
#a9 {
    position: absolute;
    width: 8%;
    height: 70%;
    z-index: 2;
    left: 68%;
}
#a9 {
    position: absolute;
    width: 8%;
    height: 70%;
    z-index: 2;
    left: 68%;
}
#a10 {
    position: absolute;
    width: 8%;
    height: 70%;
    z-index: 2;
    left: 83%;
}